<launch>

<rosparam file="$(find rmp_bot_036_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="rmp_bot_036" args="right_wheel_joint_position_controller left_wheel_joint_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/rmp_bot_036/joint_states"/>
</node>

</launch>